<app-navbar></app-navbar>
<div class="image-container">
    <img src="https://www.vishvena.com/assets/images/art/bg3.webp" alt="Expertise Background">
    <h1 class="overlay-text"><b>Contact Us</b></h1>
</div>
<div class="contact-footer">
    <div class="contact-container mt-5">
      <div class="contact-item">
        <img src="https://www.vishvena.com/assets/images/icon/ui-gps.webp"  alt="Location Icon">
        <p>No. 4-28/36/1, Kandi, Saraswati Temple Kandi,<br>Sangareddy Medak 502285 Telangana</p>
      </div>
      <div class="contact-item">
        <img src="https://www.vishvena.com/assets/images/icon/co-telephone.webp" alt="Phone Icon">
        <p>+91 8296348166</p>
      </div>
      <div class="contact-item">
        <img src="https://www.vishvena.com/assets/images/icon/co-email-5.webp" alt="Email Icon">
        <p><a href="mailto:info@vishvena.com">info-vishvena.com</a><br><a href="mailto:team@vishvena.com">team-vishvena.com</a></p>
      </div>
    </div>
  </div>

  <div class="contact-form-container">
    <h2>Get in Touch</h2>
    <p>For more information please get in touch using the form below:</p>
    <form class="contact-form">
      <div class="form-group">
        <input type="text" id="first-name" name="first-name" placeholder="First Name *" required>
      </div>
      <div class="form-group">
        
        <input type="text" id="last-name" name="last-name" placeholder="Last Name *" required>
      </div>
      <div class="form-group">
    
        <input type="tel" id="phone" name="phone" placeholder="Phone Number *" required>
      </div>
      <div class="form-group">
       
        <input type="email" id="email" name="email" placeholder="Email *" required>
      </div>
      <div class="form-group textarea-group">
        <textarea id="message" name="message" placeholder="Message *" required></textarea>
      </div>
      <div class="button-container">
        <button type="submit" class="submit-btn">SEND MESSAGE</button>
      </div>
    </form>
  </div>

  <app-footer></app-footer>